<p>ВАЛЮТА</p>
<div class="filter-block__currency">
  <input class="filter-block__currency-item" type="radio" id="rub" name="currency" (click)="checkCurrency('rub')"
         [checked]="currencyStatus.rub.status">
  <label class="filter-block__currency-left" for="rub"></label>
  <input class="filter-block__currency-item" type="radio" id="usd" name="currency" (click)="checkCurrency('usd')"
         [checked]="currencyStatus['usd'].status">
  <label class="filter-block__currency-center" for="usd"></label>
  <input class="filter-block__currency-item" type="radio" id="eur" name="currency" (click)="checkCurrency('eur')"
         [checked]="currencyStatus['eur'].status">
  <label class="filter-block__currency-right" for="eur"></label>
</div>
<br>
<p>КОЛИЧЕСТВО ПЕРЕСАДОК</p>
<p class="filter-block__check">
  <input class="filter-block__input-checkbox" type="checkbox" id="all" (click)="filterStops('all')"
         [checked]="filterStatus.all.status">
  <label class="filter-block__label" for="all">Все</label>
</p>
<p class="filter-block__check">
  <input class="filter-block__input-checkbox" type="checkbox" id="no" (click)="filterStops('no')"
         [checked]="filterStatus.no.status">
  <label class="filter-block__label" for="no">Без пересадок</label>
</p>
<p class="filter-block__check">
  <input class="filter-block__input-checkbox" type="checkbox" id="one" (click)="filterStops('one')"
         [checked]="filterStatus.one.status">
  <label class="filter-block__label" for="one">1 пересадка</label>
</p>
<p class="filter-block__check">
  <input class="filter-block__input-checkbox" type="checkbox" id="two" (click)="filterStops('two')"
         [checked]="filterStatus.two.status">
  <label class="filter-block__label" for="two">2 пересадки</label>
</p>
<p class="filter-block__check">
  <input class="filter-block__input-checkbox" type="checkbox" id="tree" (click)="filterStops('tree')"
         [checked]="filterStatus.tree.status">
  <label class="filter-block__label" for="tree">3 пересадки</label>
</p>

