
  <p>ВАЛЮТА</p>
  <div class="filter-block__currency">
    <div class="filter-block__item" type="button">RUB</div>
    <div class="filter-block__item" type="button">USD</div>
    <div class="filter-block__item" type="button">EUR</div>
  </div>
  <br>
  <p>КОЛИЧЕСТВО ПЕРЕСАДОК</p>
  <p class="filter-block__check">
    <input class="filter-block__input-checkbox" type="checkbox" id="all">
    <label class="filter-block__label" for="all">Все</label>
  </p>
  <p class="filter-block__check">
    <input class="filter-block__input-checkbox" type="checkbox" id="no">
    <label class="filter-block__label" for="no">Без пересадок</label>
  </p>
  <p class="filter-block__check">
    <input class="filter-block__input-checkbox" type="checkbox" id="one">
    <label class="filter-block__label" for="one">1 пересадка</label>
  </p>
  <p class="filter-block__check">
    <input class="filter-block__input-checkbox" type="checkbox" id="two">
    <label class="filter-block__label" for="two">2 пересадки</label>
  </p>
  <p class="filter-block__check">
    <input class="filter-block__input-checkbox" type="checkbox" id="tree">
    <label class="filter-block__label" for="tree">3 пересадки</label>
  </p>

