.filter-block {
  background-color: #ffffff;
  border-radius: .4rem;
  box-shadow: 0 0 10px rgba(228, 235, 241, 1.5);
  height: 18rem;
  margin: .3rem;
  padding: .7rem 0 .7rem 0;

  &__currency {
    @include flex-direction(row);
    @include display-flex;
    height: auto;
    margin: .7rem;
  }

  &__currency-item {
    display: none;

    &:checked + *[class^='filter-block__currency-'] {
      @include cheked-item;
    }
  }

  &__currency-left {
    @include currency-label;
    border-radius: .4rem 0 0 .4rem;
    border-right-style: none;

    &::before {
      content: "RUB";
    }

    &:hover {
      @include hover-item;
    }

    &:hover ~ .filter-block__currency-center {
      border-left-style: none;
    }
  }

  &__currency-center {
    @include currency-label;
    border-right-style: none;

    &::before {
      content: "USD";
      margin-top: 10px;
    }

    &:hover {
      @include hover-item;
    }

    &:hover ~ .filter-block__currency-right {
      border-left-style: none;
    }
  }

  &__currency-right {
    @include currency-label;
    border-radius: 0 .4rem .4rem 0;

    &::before {
      content: "EUR";
    }

    &:hover {
      @include hover-item;
    }
  }

  &__input-checkbox {
    background-color: white;
    border: solid 1px #d2d5d6;
    display: none;
    height: 15px;
    width: 15px;
  }

  &__label {
    cursor: pointer;
  }

  &__label::before {
    border: solid 1px #d2d5d6;
    border-radius: .2rem;
    content: "";
    display: inline-block;
    height: 1rem;
    margin: 0 .5rem 0 0;
    position: relative;
    vertical-align: middle;
    width: 1rem;
  }

  &__input-checkbox:checked + &__label::before {
    border: solid 1px #2196f3;
    color: #2196f3;
    content: "✓";
    font: 1rem Arial, sans-serif;
    line-height: 1rem;
    text-align: center;
  }

  &__check:hover {
    background-color: #f1fcff;
  }

  &__check:hover:after {
    color: #2196f3;
    content: "ТОЛЬКО";
    position: relative;
    left: 2rem;
    vertical-align: middle;
  }
}
