body {
  background-color: #f3f7fa;
  font: .7rem  sans-serif;
  color: #4a4a4a;
}

p {
  margin: 0rem;
  padding: .4rem .7rem .4rem .7rem;
  position: relative;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@mixin hover-item {
  background-color: #f2fcff;
  border: solid 1px #2196f3;
}

@import "app.component";
@import "filter.component";
@import "ticket.component";
