<div class="ticket">
  <div class="button-block">
    <img class="button-block__img" src="../assets/images/airline.png">
    <div class="button-block__buy">
      <p class="button-block__text">Купить</p>
      <p class="button-block__text">за 17 000р</p>
    </div>
  </div>
  <div class="info-block">
    <div class="info-block__item">
      <div class="info-block__time">00:20</div>
      <div class="info-block__transfer">
        <div>1 ПЕРЕСАДКА</div>
        <img src="../assets/images/airplan.png">
      </div>
      <div class="info-block__time">06:13</div>
    </div>
    <div class="info-block__item">
      <div class="info-block__child1">
        <p class="info-block__point">VVO Владивосток</p>
        <p class="info-block__date">9 Окт 2018, Пт</p>
      </div>
      <div class="info-block__child2">
        <p class="info-block__point">Тельавив TLV</p>
        <p class="info-block__date">10 Окт 2018, Вс</p>
      </div>
    </div>
  </div>
</div>
